<div class="container">
  <a routerLink="" class="btn btn-success">Home</a>
<form action="" method ="post" [formGroup]="form" (ngSubmit)="submit()">
  Player Name <input type="text"formControlName="playerName"> <br>
  Gender <input type="radio"formControlName="gender" value="false">female<input type="radio"formControlName="gender" value="true">male <br>
  Birthday <input type="date"formControlName="birthday"> <br>
  Address <input type="text"formControlName="address"> <br>
  Team Name<input type="text"formControlName="teamName"> <br>
  Position Play <input type="number"formControlName="positionPlay"> <br>
  Transport Cost <input type="number"formControlName="transportCost"> <br>
  <button type="submit">insert</button>
</form>
</div>
