<p>update works!</p>
<div class="container">
  <a routerLink="" class="btn btn-success">Home</a>
  <form action="" method ="post" [formGroup]="form" (ngSubmit)="submit()">
    Player Name <input type="text" [value]='entity.playerName' formControlName="playerName"> <br>
    Gender <input type="radio" [checked]="entity.gender == false" formControlName="gender" value="false">female
           <input type="radio" [checked]="entity.gender == true" formControlName="gender" value="true">male <br>
    Birthday <input type="date" [value]="entity.birthday" formControlName="birthday"> <br>
    Address <input type="text" [value]='entity.address' formControlName="address"> <br>
    Team Name<input type="text" [value]='entity.teamName' formControlName="teamName"> <br>
    Position Play <input type="text" [value]='entity.positionPlay' formControlName="positionPlay"> <br>
    Transport Cost <input type="number" [value]='entity.transportCost' formControlName="transportCost"> <br>
    <button type="submit">update</button>
  </form>
</div>
