<div class="container">
  <h1>Angular 13</h1>
  <form method="get" [formGroup]="valueForm" (ngSubmit)="search()" class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-sm-2" formControlName="playerName" type="text" placeholder="Search">

      <button type="submit">Search</button>
    </div>
  </form>
  <a routerLink="/create" class="btn btn-success">Create New Player</a>

  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Player Name</th>
      <th>Gender</th>
      <th>Birth Day</th>
      <th>Address</th>
      <th>Team Name</th>
      <th>Position Play</th>
      <th>Transport Cost</th>

      <th style="width:220px" >Action</th>
    </tr>
    <tr *ngFor="let item of player">
      <td>{{ item.playerId }}</td>
      <td>{{ item.playerName }}</td>
      <td>{{ item.gender?"male":"female" }}</td>
      <td>{{ item.birthday }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.teamName }}</td>
      <td>{{ item.positionPlay }}</td>
      <td>{{ item.transportCost }}</td>
      <td>
        <a href="#" class="btn btn-info">View</a>
        <a href="#" [routerLink]="['/update/', item.playerId]" class="btn btn-primary">Edit</a>
        <button type="button" (click)="delete(item.playerId)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</div>
